.columns {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column {
    padding: 10px;
    box-sizing: border-box;
  }
  
  .in-text {
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .callout {
    padding: .75rem;
    border-radius: 10px;
    margin: 1rem 0;
    background-color: #ffffff;
    color: #000;
  }
  
  .callout h4 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #000;
  }
  .callout.info {
    background-color: #e6eef8;
  }

  .callout.success {
    background-color: #ddffe1;
  }
  
  .callout.warning {
    background-color: #feeda5;
  }
  
  .callout.error {
    background-color: #fceaea;
  }
  
  .border img {
    border: #000 1px solid;
    padding: 5px;
  }
  
  .no-border img {
    border: none;
    padding: 0;
  }

  figure {
    max-width: 100%;
    margin: 1rem auto;
    text-align: center;
  }
  
  figure-with-border {
    border: #000 2px solid;
    max-width: 100%;
    margin: 1rem auto;
    text-align: center;
  }